$linksAndTitleFont: "Overpass", sans-serif;
$textFont: "Ubuntu", sans-serif;

$primaryColor: hsl(356, 100%, 66%);
$secondaryColor: hsl(355, 100%, 74%);
$backgroundFooterColor: hsl(240, 10%, 16%);
$headingsColor: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$footerText: hsl(240, 2%, 79%);
$colorText: hsl(207, 13%, 34%);
$section2Color: hsl(237, 23%, 32%);