:root {
    --pryColor: #f3f032;
    --sryColor: #030124;
    --white: rgba(250, 248, 248, 0.904);

    --pryFont: 'Poppins', sans-serif;
    --sryFont: 'Playfair Display', serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 90px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-family: var(--pryFont);
    font-size: 22px;
    font-weight: 700;
    color: var(--sryColor);
    text-decoration: none;
    padding-left: 2em;
    cursor: pointer;
}

header .nav {
    display: flex;
    list-style: none;
    padding-right: 5em;
}

header .nav li {
    padding: 0 1em;
}

header .nav span {
    padding-right: 0.5em;
    font-family: var(--sryFont);
    font-size: 18px;
    font-weight: 700;
}

header .nav .nav__link {
    font-family: var(--pryFont);
    color: var(--sryColor);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: inherit;
    padding-bottom: 1.75em;
}

header .nav .nav__link:hover {
    border-bottom: 5px solid var(--pryColor);
}

header .material-symbols-outlined {
    display: none;
}

main .hero{
    width: 100%;
    height: fit-content;
    background-color: var(--sryColor);
    padding-left: 4em;
}

main .hero .pretitle {
    padding-top: 2em;
    font-family: var(--pryFont);
    font-size: 14px;
    color: var(--pryColor);
    text-transform: uppercase;
    letter-spacing: 3px;
}

main .hero .title {
    padding-top: 0.25em;
    font-family: var(--pryFont);
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
}

main .hero .subtitle {
    width: 50%;
    padding-top: 1em;
    font-family: var(--pryFont);
    font-size: 18px;
    color: var(--white);
}

main .btns {
    padding: 2em 0;
}

main .btns button {
    margin-right: 1.5em;
    padding: 0.75em 1.25em;
    background-color: transparent;
    border: 2px solid var(--pryColor);
    color: var(--pryColor);
    font-family: var(--pryFont);
    font-weight: 600;
    cursor: pointer;
}

main .btns button:hover {
    background-color: var(--pryColor);
    color: var(--sryColor);
}

main .sobre-mi {
    width: 100%;
    height: fit-content;
    padding-left: 4em;
}

main .sobre-mi .sobre-mi__title {
    font-family: var(--pryFont);
    color: var(--sryColor);
    text-transform: uppercase;
    letter-spacing: 5px;
    height: inherit;
    padding-bottom: 1.75em;
}

main .sobre-mi span {
    font-family: var(--sryFont);
    font-size: 58px;
    font-weight: 700;
}

main .sobre-mi .sobre-mi__cuerpo {
    display: flex;
    margin-bottom: 2em;
    gap: 2.5em;
}

main .sobre-mi .sobre-mi__cuerpo .sobre-mi__img {
    width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-left: 10px solid #f3f032;
}

main .sobre-mi .sobre-mi__cuerpo .sobre-mi__texto .sobre-mi__parrafo {
    width: 90%;
    font-family: var(--pryFont);
    line-height: 1.7;
}

main .sobre-mi .sobre-mi__cuerpo .sobre-mi__texto span {
    font-size: 18px;
    padding: 0.2em;
    background-color: var(--pryColor);
    color: var(--sryColor);
}

main .proyectos {
    height: fit-content;
    width: 100%;
    margin-bottom: 2.5em;
    padding-left: 4em;
}

main .proyectos span {
    font-family: var(--sryFont);
    font-size: 58px;
    font-weight: 700;
}

main .proyectos .proyectos__title {
    font-family: var(--pryFont);
    color: var(--sryColor);
    text-transform: uppercase;
    letter-spacing: 5px;
    height: inherit;
    padding-bottom: 1.75em;
}

main .proyectos .proyectos__catalogo {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

main .proyectos .proyectos__catalogo .proyecto img {
    max-height: 250px;
    max-width: 500px;
    object-fit: fill;
    border: 5px solid var(--pryColor);
    cursor: pointer;
    transition: ease-in 200ms;
}

main .proyectos .proyectos__catalogo .proyecto img:hover {
    filter: brightness(50%);
}

main .proyectos .proyectos__catalogo .proyecto .proyecto__texto {
    display: none;
    flex-direction: column;
    justify-content: center;
}

main .proyectos .proyectos__catalogo .proyecto .proyecto__texto p {
    font-family: var(--pryFont);
    font-weight: 600;
    padding-top: 1em;
}

main .proyectos .proyectos__catalogo .proyecto .proyecto__texto button {
    width: fit-content;
    margin: 1em auto;
    padding: 0.75em 1.25em;
    background-color: var(--pryColor);
    border: 2px solid var(--pryColor);
    color: var(--sryColor);
    font-family: var(--pryFont);
    font-weight: 600;
    cursor: pointer;
}

main .proyectos .proyectos__catalogo .proyecto .proyecto__texto button:hover {
    background-color: #16143f;
    color: var(--pryColor);
    border: 2px solid #16143f;
}

main .contact {
    width: 100%;
    height: fit-content;
    background-color: var(--sryColor);
    padding-left: 4em;
    position: relative;
}

main .contact span {
    font-family: var(--sryFont);
    font-size: 58px;
    font-weight: 700;
    color: var(--white);
}

main .contact h2 {
    font-family: var(--pryFont);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 5px;
    height: inherit;
    padding-bottom: .5em;
}

main .contact p {
    font-family: var(--pryFont);
    color: var(--white);
}

main .contact .sm-icons {
    display: flex;
    justify-content: center;
    padding: 3em 0 3em;
    gap: 2em;
    flex-wrap: wrap;
}

main .contact .sm-icons .fa {
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
}

main .contact .sm-icons .fa:hover {
    color: var(--pryColor);
}

main .contact .sm-icons span {
    font-family: var(--pryFont);
    font-size: 24px;
}

main .contact img {
    height: 120px;
    position: absolute;
    top: -3em;
    right: 2em;
}

footer {
    width: 100%;
    height: 60px;
    background-color: var(--pryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: var(--pryFont);
    font-size: 15px;
    font-weight: 600;
    color: var(--sryColor);
}

@media (min-width: 911px) {
    header .menu-nav {
        display: flex !important;
    }
}

@media (max-width: 910px) {
    
    header {
        position: fixed;
        background-color: #fff;
        height: 70px;
        z-index: 9;
    }

    header .menu-nav {
        height: 100%;
        background-color: var(--pryColor);
        width: 100%;
        position: fixed;
        top: 4.375em;
        display: none;
    }

    header .nav {
        flex-direction: column;
        padding: 3em 0 0 2em;
    }
    
    header .nav li {
        padding: 0.75em 0;
    }
    
    header .nav .nav__link:hover {
        border-bottom: 0;
        color: var(--sryColor);
    }
    
    header .material-symbols-outlined {
        display: block;
        margin-right: 1.5em;
        cursor: pointer;
    }

    main .hero{
        padding-top: 4em;
        padding-left: 0;
    }
    
    main .hero .pretitle {
        text-align: center;
    }
    
    main .hero .title {
        text-align: center;
    }
    
    main .hero .subtitle {
        width: 100%;
        padding: 1em 3.5em 0 3.5em;
        text-align: center;
    }
    
    main .btns {
        display: flex;
        justify-content: center;
    }
    
    main .sobre-mi {
        padding-left: 0;
    }

    main .sobre-mi .sobre-mi__title {
        padding-left: 2em;
    }

    main .sobre-mi span {
        padding-left: 0.75em;
    }

    main .sobre-mi .sobre-mi__cuerpo {
        flex-direction: column;
    }
    
    main .sobre-mi .sobre-mi__cuerpo .sobre-mi__img {
      margin: 0 auto;
      border-left: none;
      border-top: 10px solid #f3f032;
    }
    
    main .sobre-mi .sobre-mi__cuerpo .sobre-mi__texto .sobre-mi__parrafo {
        width: 100%;
        padding: 0 2em;
        text-align: center;
    }
    
    main .proyectos {
        padding-left: 0;
    }

    main .proyectos span {
        padding-left: 0.75em;
    }

    main .proyectos .proyectos__title {
        padding-left: 2em;
    }

    main .proyectos .proyectos__catalogo {
        padding-left: 0;
        justify-content: center;
    }
    
    main .proyectos .proyectos__catalogo .proyecto img {
        width: 360px;
        height: 180px;
        object-fit: contain;
    }

    main .contact {
        padding-left: 0;
    }
    
    main .contact span {
        padding-left: 0.75em;
    }
    
    main .contact h2 {
        padding-left: 2em;
    }
    
    main .contact p {
        padding-left: 3em;
        max-width: 90%;
    }
    
    main .contact .sm-icons {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    main .contact .sm-icons span {
        padding-left: 0.25em;
    }
    
    main .contact img {
        height: 120px;
        position: absolute;
        top: -3em;
        right: 2em;
    }
}

@media (max-width: 425px) {

    main .sobre-mi .sobre-mi__title {
        padding-left: 1.3em;
    }

    main .sobre-mi span {
        padding-left: 0.5em;
    }

    main .proyectos .proyectos__catalogo .proyecto img {
        width: 250px;
        height: 120px;
        object-fit: contain;
    }

    main .proyectos span {
        padding-left: 0.5em;
    }

    main .proyectos .proyectos__title {
        padding-left: 1.3em;
    }

    main .contact span {
        padding-left: 0.5em;
    }
    
    main .contact h2 {
        padding-left: 1.3em;
    }

    main .contact p {
        padding-left: 2em;
        max-width: 95%;
    }
}