@import "_var_project1";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 450px;
    background-image: url(/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-color: $primaryColor;
    border-radius: 0px 0px 0px 80px;

    .header {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin-left: 2em;
            .logo__img {
                width: 80px;
                cursor: pointer;
            }
        }

        .mobile-menu {
            display: none;
        }

        .nav {
            width: 100%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .close-menu {
                display: none;
            }

            .nav__links {
                width: 100%;
                height: inherit;
                display: flex;
                margin-left: 3em;
                margin-top: 4em;
                list-style: none;

                .nav__link {
                    padding-left: 1em;

                    .sub-menu {
                        display: none;

                        .sub-menu__links {
                            position: absolute;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            height: fit-content;
                            background-color: $white;
                            z-index: 99;
                            border-radius: 5px;
                            margin-top: 1em;
                            padding: 1em 0;

                            .sub-menu__link {
                                padding: 0.4em 0;
                            }

                            .sub-menu__link a {
                                color: $colorText;
                                margin: 1.25em;

                                &:hover {
                                    color: #000;
                                    text-decoration: none;
                                }
    
                            }
                        }
                    }

                    &:hover .sub-menu {
                        display: block;
                    }

                    &:hover .arrow-light {
                        transform: rotate(180deg);
                    }
                }

                .nav__link a {
                    text-decoration: none;
                    color: $white;
                    font-family: $linksAndTitleFont;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .arrow-light {
                    margin-left: 0.5em;
                    cursor: pointer;
                }

                .arrow-dark {
                    display: none;
                }
            }

            .usuarios {
                display: flex;
                height: inherit;
                align-items: center;

                .usuarios__login {
                    text-decoration: none;
                    color: $white;
                    font-family: $linksAndTitleFont;
                    font-weight: 600;
                    margin-right: 1.5em;
                }

                .usuarios__signup {
                    width: 7em;
                    padding: 0.8em 1.6em;
                    margin-right: 4.5em;
                    border: none;
                    background-color: $white;
                    color: $primaryColor;
                    font-family: $textFont;
                    font-weight: 700;
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: $secondaryColor;
                        color: $white;
                    }
                }
            }
        }
    }

    .hero {
        width: 100%;
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-family: $linksAndTitleFont;
            color: $white;
            font-size: 2.5em;
            margin-top: 1em;
            z-index: 98;

        }

        &__subtitle {
            font-family: $linksAndTitleFont;
            color: $white;
            margin-top: 0.75em;
        }

        &__btns {
            margin-top: 2em;
            
            .hero__btn1 {
                margin-right: 1em;
                width: fit-content;
                padding: 0.8em 1.6em;
                border: none;
                background-color: $white;
                color: $primaryColor;
                font-family: $textFont;
                font-weight: 700;
                border-radius: 20px;
                cursor: pointer;

                &:hover {
                    background-color: $secondaryColor;
                    color: $white;
                }
            }

            .hero__btn2 {
                width: fit-content;
                padding: 0.8em 1.6em;
                border: 1px solid $white;
                background-color: transparent;
                color: $white;
                font-family: $textFont;
                font-weight: 700;
                border-radius: 20px;
                cursor: pointer;

                &:hover {
                    border: 1px solid transparent;
                    background-color: $white;
                    color: $primaryColor
                }
            }
        }
    }
}

main {
    .section1 {
        width: 100%;
        height: 700px;
        overflow-x: hidden;

        &__title {
            font-family: $linksAndTitleFont;
            color: $headingsColor;
            font-size: 30px;
            text-align: center;
            padding-top: 3em;
        }

        &__flex {
            width: inherit;
            height: 500px;
            display: flex;
            align-items: center;

            .section1__texts {
                margin-left: 5em;
                margin-top: 3em;
                max-width: 55%;
    
                .section1__text {
                    .text__title {
                        font-family: $linksAndTitleFont;
                        color: $headingsColor;
                        margin-bottom: 1.25em;
                    }
    
                    .text__paragraph {
                        font-family: $textFont;
                        color: $colorText;
                        margin-bottom: 3em;
                        line-height: 1.5;
                        width: 90%;
                    }
                }
            }

            .section1__img {
                width: 600px;
                margin-right: -15em;
            }
        }
    }

    .section2 {
        width: 100%;
        height: 300px;
        background-color: $section2Color;
        background-image: url(/bg-pattern-circles.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 450px;
        display: flex;
        align-items: center;
        gap: 1em;
        border-radius: 0px 80px 0px 80px;

        &__img {
            height: 400px;
            width: 400px;
            object-fit: contain;
            position: relative;
            top: .25em;
        }

        &__text {
            max-width: 50%;

            .section2__title {
                font-family: $linksAndTitleFont;
                color: $white;
                font-size: 26px;
                margin-bottom: .5em;
            }

            .section2__paragraph {
                font-family: $textFont;
                color: $white;
                line-height: 1.5;
            }
        }
    }

    .section3 {
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        gap: 1em;

        &__img {
            width: 600px;
            object-fit: contain;
            margin-left: -15em;
        }

        &__text {
            max-width: 90%;

            .text__title {
                font-family: $linksAndTitleFont;
                color: $headingsColor;
                font-size: 22px;
                margin-bottom: 1em;
            }

            .text__paragraph {
                font-family: $textFont;
                color: $colorText;
                line-height: 1.5;
                margin-bottom: 2.5em;
            }
        }
    }   
}

.footer {
    width: 100%;
    height: 300px;
    background-color: $backgroundFooterColor;
    border-radius: 0px 80px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5em;

    &-logo {
        cursor: pointer;
    }

    &__links {
        list-style: none;

        .footer__link {
            font-family: $linksAndTitleFont;
            color: $white;
            padding: 0.25em 0;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .first-link {
            font-weight: 700;
            margin-bottom: 1em;
        }
    }
}

@media (max-width: 768px) {
    header {
        .header {
            .mobile-menu {
                display: block;

                .burger-menu {
                    display: block;
                    margin-right: 2em;
                    cursor: pointer;
                }
            }

            .nav {
                display: none;
                background-color: $white;
                height: fit-content;
                width: 80%;
                flex-direction: column;
                margin: 0 auto;
                border-radius: 5px;
                position: absolute;
                top: 8em;
                right: 4em;
                z-index: 99;

                .nav__links {
                    flex-direction: column;
                    margin-left: 0;
                    margin-top: 2em;
                    align-items: center;
                    padding: .5em 0;

                    .nav__link {
                        padding: .75em 0;
    
                        .sub-menu {
                            display: none;
    
                            .sub-menu__links {
                                background-color: $footerText;

                                .sub-menu__link {
                                    padding: 0.4em 0;
                                }
    
                                .sub-menu__link a {
                                    &:hover {
                                        color: #000;
                                    }
        
                                }
                            }
                        }
    
                        &:hover .sub-menu {
                            display: block;
                        }
    
                        &:hover .arrow-dark {
                            transform: rotate(180deg);
                        }
                    }
    
                    .nav__link a {
                        text-decoration: none;
                        color: #000;
                        font-family: $linksAndTitleFont;
                        font-weight: 600;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    .arrow-light {
                        display: none;
                    }
    
                    .arrow-dark {
                        display: inline-block;
                        margin-left: 0.4em;
                    }
                }
    
                .usuarios {
                    flex-direction: column;
                    margin-top: 2em;
                    padding: .5em 0;
    
                    .usuarios__login {
                        color: $colorText;
                        margin-right: 0;
                        margin-bottom: 1em;

                        &:hover {
                            color: #000;
                        }
                    }
    
                    .usuarios__signup {
                        width: 7em;
                        padding: 0.8em 1.6em;
                        margin-right: 0;
                        background-color: $primaryColor;
                        color: $white;
                    }
                }
            }
        }
    
        .hero {
    
            &__title {
                text-align: center;
                margin: 0 .15em;
    
            }
    
            &__subtitle {
                text-align: center;
            }
        }
    }

    main {
        .section1 {
            height: fit-content;
            &__flex {
                height: fit-content;
                flex-direction: column-reverse;
                margin-bottom: 8em;
                .section1__texts {
                    max-width: 100%;
        
                    .section1__text {
                        .text__paragraph {
                            width: 95%;
                        }
                    }
                }
                .section1__img {
                    max-width: 400px;
                    margin-right: 0;
                    margin-top: 2em;
                }
            }
        }

        .section2 {
            height: fit-content;
            background-position: center;
            background-size: 350px;
            flex-direction: column;
    
            &__img {
                top: -8em;
            }
    
            &__text {
                max-width: 80%;
                position: relative;
                top: -8em;
    
                .section2__title {
                    text-align: center;
                }
    
                .section2__paragraph {
                    text-align: center;
                    line-height: 2;
                }
            }
        }

        .section3 {
            height: fit-content;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            &__img {
                width: 500px;
                margin: 3em auto 0;
            }
            &__text {
                max-width: 100%;
                text-align: center;
                margin: 0 1.5em;
            }
        }
    }

    .footer {
        height: 900px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        &-logo {
            cursor: pointer;
        }
    
        &__links {
            list-style: none;
            text-align: center;
    
            .footer__link {
                font-family: $linksAndTitleFont;
                color: $white;
                padding: 0.25em 0;
                cursor: pointer;
    
                &:hover {
                    text-decoration: underline;
                }
            }
    
            .first-link {
                font-weight: 700;
                margin-top: 3em;
            }
        }
    }
}