*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 450px;
  background-image: url(/imgs/project-one/bg-pattern-intro-desktop.svg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #ff525d;
  border-radius: 0px 0px 0px 80px;
}

header .header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header .logo {
  margin-left: 2em;
}

header .header .logo .logo__img {
  width: 80px;
  cursor: pointer;
}

header .header .mobile-menu {
  display: none;
}

header .header .nav {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header .nav .close-menu {
  display: none;
}

header .header .nav .nav__links {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3em;
  margin-top: 4em;
  list-style: none;
}

header .header .nav .nav__links .nav__link {
  padding-left: 1em;
}

header .header .nav .nav__links .nav__link .sub-menu {
  display: none;
}

header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links {
  position: absolute;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  z-index: 99;
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em 0;
}

header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links .sub-menu__link {
  padding: 0.4em 0;
}

header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links .sub-menu__link a {
  color: #4b5862;
  margin: 1.25em;
}

header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links .sub-menu__link a:hover {
  color: #000;
  text-decoration: none;
}

header .header .nav .nav__links .nav__link:hover .sub-menu {
  display: block;
}

header .header .nav .nav__links .nav__link:hover .arrow-light {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .header .nav .nav__links .nav__link a {
  text-decoration: none;
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

header .header .nav .nav__links .nav__link a:hover {
  text-decoration: underline;
}

header .header .nav .nav__links .arrow-light {
  margin-left: 0.5em;
  cursor: pointer;
}

header .header .nav .nav__links .arrow-dark {
  display: none;
}

header .header .nav .usuarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .nav .usuarios .usuarios__login {
  text-decoration: none;
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  margin-right: 1.5em;
}

header .header .nav .usuarios .usuarios__signup {
  width: 7em;
  padding: 0.8em 1.6em;
  margin-right: 4.5em;
  border: none;
  background-color: white;
  color: #ff525d;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

header .header .nav .usuarios .usuarios__signup:hover {
  background-color: #ff7a85;
  color: white;
}

header .hero {
  width: 100%;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero__title {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 2.5em;
  margin-top: 1em;
  z-index: 98;
}

header .hero__subtitle {
  font-family: "Overpass", sans-serif;
  color: white;
  margin-top: 0.75em;
}

header .hero__btns {
  margin-top: 2em;
}

header .hero__btns .hero__btn1 {
  margin-right: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8em 1.6em;
  border: none;
  background-color: white;
  color: #ff525d;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

header .hero__btns .hero__btn1:hover {
  background-color: #ff7a85;
  color: white;
}

header .hero__btns .hero__btn2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8em 1.6em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

header .hero__btns .hero__btn2:hover {
  border: 1px solid transparent;
  background-color: white;
  color: #ff525d;
}

main .section1 {
  width: 100%;
  height: 700px;
  overflow-x: hidden;
}

main .section1__title {
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
  font-size: 30px;
  text-align: center;
  padding-top: 3em;
}

main .section1__flex {
  width: inherit;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section1__flex .section1__texts {
  margin-left: 5em;
  margin-top: 3em;
  max-width: 55%;
}

main .section1__flex .section1__texts .section1__text .text__title {
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
  margin-bottom: 1.25em;
}

main .section1__flex .section1__texts .section1__text .text__paragraph {
  font-family: "Ubuntu", sans-serif;
  color: #4b5862;
  margin-bottom: 3em;
  line-height: 1.5;
  width: 90%;
}

main .section1__flex .section1__img {
  width: 600px;
  margin-right: -15em;
}

main .section2 {
  width: 100%;
  height: 300px;
  background-color: #3f4164;
  background-image: url(/imgs/project-one/bg-pattern-circles.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border-radius: 0px 80px 0px 80px;
}

main .section2__img {
  height: 400px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: .25em;
}

main .section2__text {
  max-width: 50%;
}

main .section2__text .section2__title {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 26px;
  margin-bottom: .5em;
}

main .section2__text .section2__paragraph {
  font-family: "Ubuntu", sans-serif;
  color: white;
  line-height: 1.5;
}

main .section3 {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

main .section3__img {
  width: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -15em;
}

main .section3__text {
  max-width: 90%;
}

main .section3__text .text__title {
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
  font-size: 22px;
  margin-bottom: 1em;
}

main .section3__text .text__paragraph {
  font-family: "Ubuntu", sans-serif;
  color: #4b5862;
  line-height: 1.5;
  margin-bottom: 2.5em;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #25252d;
  border-radius: 0px 80px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2.5em;
}

.footer-logo {
  cursor: pointer;
}

.footer__links {
  list-style: none;
}

.footer__links .footer__link {
  font-family: "Overpass", sans-serif;
  color: white;
  padding: 0.25em 0;
  cursor: pointer;
}

.footer__links .footer__link:hover {
  text-decoration: underline;
}

.footer__links .first-link {
  font-weight: 700;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  header .header .mobile-menu {
    display: block;
  }
  header .header .mobile-menu .burger-menu {
    display: block;
    margin-right: 2em;
    cursor: pointer;
  }
  header .header .nav {
    display: none;
    background-color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    top: 8em;
    right: 4em;
    z-index: 99;
  }
  header .header .nav .nav__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-top: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5em 0;
  }
  header .header .nav .nav__links .nav__link {
    padding: .75em 0;
  }
  header .header .nav .nav__links .nav__link .sub-menu {
    display: none;
  }
  header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links {
    background-color: #c8c8cb;
  }
  header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links .sub-menu__link {
    padding: 0.4em 0;
  }
  header .header .nav .nav__links .nav__link .sub-menu .sub-menu__links .sub-menu__link a:hover {
    color: #000;
  }
  header .header .nav .nav__links .nav__link:hover .sub-menu {
    display: block;
  }
  header .header .nav .nav__links .nav__link:hover .arrow-dark {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header .header .nav .nav__links .nav__link a {
    text-decoration: none;
    color: #000;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
  }
  header .header .nav .nav__links .nav__link a:hover {
    text-decoration: underline;
  }
  header .header .nav .nav__links .arrow-light {
    display: none;
  }
  header .header .nav .nav__links .arrow-dark {
    display: inline-block;
    margin-left: 0.4em;
  }
  header .header .nav .usuarios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
    padding: .5em 0;
  }
  header .header .nav .usuarios .usuarios__login {
    color: #4b5862;
    margin-right: 0;
    margin-bottom: 1em;
  }
  header .header .nav .usuarios .usuarios__login:hover {
    color: #000;
  }
  header .header .nav .usuarios .usuarios__signup {
    width: 7em;
    padding: 0.8em 1.6em;
    margin-right: 0;
    background-color: #ff525d;
    color: white;
  }
  header .hero__title {
    text-align: center;
    margin: 0 .15em;
  }
  header .hero__subtitle {
    text-align: center;
  }
  main .section1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .section1__flex {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 8em;
  }
  main .section1__flex .section1__texts {
    max-width: 100%;
  }
  main .section1__flex .section1__texts .section1__text .text__paragraph {
    width: 95%;
  }
  main .section1__flex .section1__img {
    max-width: 400px;
    margin-right: 0;
    margin-top: 2em;
  }
  main .section2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-position: center;
    background-size: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section2__img {
    top: -8em;
  }
  main .section2__text {
    max-width: 80%;
    position: relative;
    top: -8em;
  }
  main .section2__text .section2__title {
    text-align: center;
  }
  main .section2__text .section2__paragraph {
    text-align: center;
    line-height: 2;
  }
  main .section3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
  }
  main .section3__img {
    width: 500px;
    margin: 3em auto 0;
  }
  main .section3__text {
    max-width: 100%;
    text-align: center;
    margin: 0 1.5em;
  }
  .footer {
    height: 900px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-logo {
    cursor: pointer;
  }
  .footer__links {
    list-style: none;
    text-align: center;
  }
  .footer__links .footer__link {
    font-family: "Overpass", sans-serif;
    color: white;
    padding: 0.25em 0;
    cursor: pointer;
  }
  .footer__links .footer__link:hover {
    text-decoration: underline;
  }
  .footer__links .first-link {
    font-weight: 700;
    margin-top: 3em;
  }
}
/*# sourceMappingURL=project-one.css.map */